services:
  app:
    build:
      context: .
      dockerfile: docker/development/php/Dockerfile
    container_name: laravel-app-dev
    volumes:
      - ./src:/var/www/html
    env_file:
      - ./src/.env
    depends_on:
      - mysql
    expose:
      - "9000"

  nginx:
    build:
      context: .
      dockerfile: docker/development/nginx/Dockerfile
    container_name: laravel-nginx-dev
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: laravel-mysql-dev
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: restapi_assignment
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
