services:
  app:
    build:
      context: ./docker/php
    container_name: laravel-app
    volumes:
      - ./src:/var/www/html
    env_file:
      - ./src/.env
    depends_on:
      - mysql
    expose:
      - "9000"

  nginx:
    build:
      context: ./docker/nginx
    container_name: laravel-nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: laravel-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: restapi_assignment
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
